doctype html
html
    head
    body
        h1 wcm
        input(type="password" name="field")
        input(class="redmist")
        
        - const myClass = ["class1", "class2", "class3"]
        p.myClass